<h2>Yönetim Paneli...</h2>

<ul>
    <li><a asp-area="Admin" asp-controller="Kategori" asp-action="Index" >Kategori İşlemleri</a></li>
    <li><a asp-area="Admin" asp-controller="Urun" asp-action="Index" >Ürün İşlemleri</a></li>
</ul>